<%= link_to "Edit", edit_question_path(@question) %>
<%= link_to "Delete", question_path(@question), method: :delete, data: {confirm: "Are you sure you want to delete this question?"} %>
<h3><%= @question.title %></h3>
<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>


<p><%= markdown.render(@question.body).html_safe %></p>
